/* Grayscales
80%b = #62686B
40%b = #9CA5AB
30%b = #BFCAD1
20%b = #D7E3EB
10%b = #E2EFF7
*/

body {
 background-color: #9CA5AB; 
}

.wrapper {
	
    height: 110px;
    padding: 10px;
    display: grid;
    grid-template-columns: 300px 500px 300px;
    grid-gap: 10px;
}


a {
    color: white;
    text-decoration: none;
}


p{
    line-height: 0%;
}


.dashboard-left {
    background: #BFCAD1;
	grid-column: 1;
	background: ;
	border-radius: 3px;
	box-shadow: 0px 1px 2px #62686B;
}


/*
.timeline {
	grid-column: 2;
	background: #D7E3EB;
	border-radius: 3px;
	box-shadow: 0px 1px 2px black;
}
*/


.dashboard-right {
	grid-column: 3;
	background: #BFCAD1;
	border-radius: 3px;
	box-shadow: 0px 1px 2px #62686B;
}


.AppContent {
	grid-column: 2/3;
    padding: 56px 14px 15px;
    padding-top: 56px;
    padding-right: 14px;
    padding-bottom: 15px;
    padding-left: 14px;
    position: relative;
}

.tweet {
    background-color: #BFCAD1;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #62686B;
    }

.tweetTimeStamp {
    color: #9CA5AB;
}
/*
.tweetText {
    color: white;
    }
 /*