

.wrapper {
	background-color: green;
    height: 110px;
    padding: 10px;
    display: grid;
    grid-template-columns: 300px 500px 300px;
    grid-gap: 10px;
}

/* from my game 
.unit {
        display: grid;
        height: inherit;
        width: 250px;
        grid-gap: 20px;
        border-radius: inherit;
        background-color: white;
        box-shadow: 0px 1px 2px #AEBFCC;
    }

        .portrait {
            grid-column: 1;
            height : 100px;
            margin: auto;
            margin-left: 5px; 
            margin-right: 5px;
            image-resolution: from-image;
            border-radius: inherit;
            background-color: #CCBEAE;
        }

        .statsWindow {
            grid-column: 2;
            margin: auto;
            margin-left: 5px;
        }
*/
a {
    color: white;
    text-decoration: none;
}


p{
    line-height: 0%;
}


.dashboard-left {
	grid-column: 1;
	background: orange;
	border-radius: 3px;
	box-shadow: 0px 1px 2px black;
}


.timeline {
	grid-column: 2;
	background: blue;
	border-radius: 3px;
	box-shadow: 0px 1px 2px black;
}


.dashboard-right {
	grid-column: 3;
	background: orange;
	border-radius: 3px;
	box-shadow: 0px 1px 2px black;
}


.tweet {
	background-color: white;
	border-radius: 3px;
	}

.tweetText {
	color: white;
	}

/*  

From Original Twitter:
.AppContent;

*/
.AppContent {
	background-color: blue;
	grid-column: 2/3;
    padding: 56px 14px 15px;
    padding-top: 56px;
    padding-right: 14px;
    padding-bottom: 15px;
    padding-left: 14px;
    position: relative;
}